* {
  box-sizing: border-box;
}

.qub {
  min-height: 100px;
  width: 100px;
  background-color: darkblue;
}

.wrapper {
  border: 1px solid black;
  min-height: 140px;
  background-color: rgb(231, 222, 90);
}

.left {
  float: left;
}

.right {
  float: right;
}

.indent {
  margin: 20px 20px;
}

.wrapper_two {
  border: 1px solid black;
  min-height: 260px;
  background-color: rgb(231, 222, 90);
}

.big_square {
  float: left;
  min-height: 220px;
  width: 100px;
  background-color: deeppink;
  margin-top: 20px;
}

.first_section {
  margin-left: calc(50% - 100px);
}

.square_twelve {
  margin-top: 20px;
}

.square_fourteen {
  margin-left: 20px;
}
