* {
  box-sizing: border-box;
}

.qub {
  min-height: 100px;
  width: 100px;
  background-color: darkblue;
}

.wrapper {
  border: 1px solid black;
  min-height: 140px;
  background-color: rgb(231, 222, 90);
}

.first_square {
  float: left;
  margin: 20px 20px;
}

.second_square {
  float: right;
  margin: 20px 20px;
}

.square_three {
  float: left;
  margin: 20px 20px;
}

.square_four {
  float: right;
  margin: 20px 20px;
}

.square_five {
  float: right;
  margin: 20px 20px;
}

.square_six {
  float: right;
  margin: 20px 20px;
}

.square_seven {
  float: left;
  margin: 20px 20px;
}

.square_eight {
  float: left;
  margin: 20px 20px;
}

.square_nine {
  float: right;
  margin: 20px 20px;
}

.square_ten {
  float: right;
  margin: 20px 20px;
}

.wrapper_two {
  border: 1px solid black;
  min-height: 260px;
  background-color: rgb(231, 222, 90);
}

.big_square {
  float: left;
  min-height: 220px;
  width: 100px;
  background-color: deeppink;
  margin-top: 20px;
}

.first_section {
  margin-left: calc(50% - 100px);
}

.second_section {
  float: left;
  margin: 20px 20px;
}

.square_twelve {
  margin-top: 20px;
}

.third_section {
  float: right;
}

.fourth_section {
  float: right;
}

.square_thirteen {
  margin: 20px 20px;
}

.square_fourteen {
  margin-left: 20px;
}
